/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
  background-color: black;
  color:gainsboro
}

main{
  height: 80vh;
}


/* Global styles */
a {
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #ff4500;
}

/* Header styles */
header {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5vh;
  color: gainsboro;
}

header span {
  font-weight: bold;
  font-size: 1.5rem;
  color: gainsboro;
}

.navbar {
  transition: all 1s ease;
  background-color: black;
  padding: .4rem;
  color: white;
  min-height: 4vh;
  border-bottom: 1px solid rgb(237, 237, 237);
}

.sticky {
  position : fixed;
  top : 0;
  width: 100%
}



.navbar-container {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

.navbar-nav {
  list-style: none;
  display: flex;
}

.navbar-nav > li{
  display: flex;
  align-items: center;
}

.navbar-nav > li > a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus{
  background-color: #555;
  outline: none;
}

@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-nav {
    flex-direction: column;
    width: 100%;
  }

  .nav-item {
    width: 100%;
  }

  .nav-link {
    text-align: left;
    padding-left: 1.5rem;
  }
}


/* Main content styles */
main.padding-inline-default {
  padding: 1rem;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  font-size: 0.875rem;
  height: 10vh;
}

/* Auth styles */
.AuthProvider {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.AuthHeader {
  background-color: #eee;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

/* Admin styles */
.AdminNav a {
  background-color: #ff4500;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.AdminNav a:hover {
  background-color: #e43f00;
}

/* Company styles */
.CompanyNav a {
  background-color: #4CAF50;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.CompanyNav a:hover {
  background-color: #43A047;
}

/* Apprentice styles */
.ApprNav a {
  background-color: #2196F3;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.ApprNav a:hover {
  background-color: #1976D2;
}
