#overlay{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    transition: opacity 0.4s ease-in-out;
}


