
#sign-up-form div{
    display: flex;
    justify-content: space-between;
}



#pw-match{
    height:1.5rem;
}

.pw-matching{
    color: var(--color-lime-green)    
}

.pw-not-matching{
    color: var(--color-urgent-red)
}

#sign-up-form .flex-right{
    display: flex;
    justify-content: flex-end;
}